/***********************/
/* Design for screens  */
/*                     */
/*                     */
/***********************/
html,body{
  font-family: verdana;
  font-size: 11px;
  font-weight: bold;
  background-color: black;
  height:100%;padding:0px;margin:0px;
  background-image: url("../img/starrynight.jpg");
  background-size: contain;
  background-repeat: repeat-x;
}
.ctrlpanel,.lunarlander,.gameopts{
  display:inline-block;height:100%;float:left;
}
.ctrlpanel{
  width:20%;
}
.lunarlander{
  width:60%;
}
.gameopts{
  width:20%;
}
.ctrlpanel ul{
  background-color:transparent;
  list-style-type:none;
  color:yellow; 
}
.ctrlpanel ul li{
  display: block;
}
.gameopts ul{
  background-color:transparent;
  list-style-type:none;
}
.gameopts ul li{
  display: inline;
  }
.gameopts ul li a{
  color:white;
  text-decoration: none;
}
.gameopts ul li a:hover{
  color:black;
  background-color: white;
}
.landingmoon{
  background-color:black;height:20%;width:100%;position:fixed;bottom:0px;
}
.landingmoon img{
  height:100%;width:100%;
}
#spacecraft{
  text-align:center;position:fixed;top:5%;width:100%;height:20%;
}
#spacecraft img{
  height:100%;
}





